src/TDS.jucer
src/Builds/MacOSX/Info-App.plist
src/Builds/MacOSX/RecentFilesMenuTemplate.nib
src/Builds/MacOSX/build/Debug/TDS.app/Contents/PkgInfo
src/Builds/MacOSX/build/Debug/TDS.app/Contents/MacOS/TDS
src/Builds/MacOSX/build/Debug/TDS.app/Contents/Resources/RecentFilesMenuTemplate.nib
src/JuceLibraryCode/AppConfig.h
src/JuceLibraryCode/juce_audio_basics.cpp
src/JuceLibraryCode/juce_audio_basics.mm
src/JuceLibraryCode/juce_audio_devices.cpp
src/JuceLibraryCode/juce_audio_devices.mm
src/JuceLibraryCode/juce_audio_formats.cpp
src/JuceLibraryCode/juce_audio_formats.mm
src/JuceLibraryCode/juce_audio_processors.cpp
src/JuceLibraryCode/juce_audio_processors.mm
src/JuceLibraryCode/juce_core.cpp
src/JuceLibraryCode/juce_core.mm
src/JuceLibraryCode/juce_cryptography.cpp
src/JuceLibraryCode/juce_cryptography.mm
src/JuceLibraryCode/juce_data_structures.cpp
src/JuceLibraryCode/juce_data_structures.mm
src/JuceLibraryCode/juce_events.cpp
src/JuceLibraryCode/juce_events.mm
src/JuceLibraryCode/juce_graphics.cpp
src/JuceLibraryCode/juce_graphics.mm
src/JuceLibraryCode/juce_gui_basics.cpp
src/JuceLibraryCode/juce_gui_basics.mm
src/JuceLibraryCode/juce_gui_extra.cpp
src/JuceLibraryCode/juce_gui_extra.mm
src/JuceLibraryCode/juce_opengl.cpp
src/JuceLibraryCode/juce_opengl.mm
src/JuceLibraryCode/juce_video.cpp
src/JuceLibraryCode/juce_video.mm
src/JuceLibraryCode/JuceHeader.h
src/JuceLibraryCode/ReadMe.txt
src/Builds/MacOSX/TDS.xcodeproj/project.xcworkspace/xcuserdata/ccomte.xcuserdatad/UserInterfaceState.xcuserstate
src/Builds/MacOSX/TDS.xcodeproj/xcuserdata/ccomte.xcuserdatad/xcschemes/TDS (App).xcscheme
src/Builds/MacOSX/TDS.xcodeproj/xcuserdata/ccomte.xcuserdatad/xcschemes/xcschememanagement.plist
BinaryBuildingPlace/
src/Builds/MacOSX/build/Release/TDS.zip
src/Builds/MacOSX/build/Release/TDS.app/Contents/PkgInfo
src/Builds/MacOSX/build/Release/TDS.app/Contents/MacOS/TDS
src/Builds/MacOSX/build/Release/TDS.app/Contents/Resources/RecentFilesMenuTemplate.nib
